a:hover, a:active, a:visited, a:focus{
    text-decoration: none;
}

/*========== HEADER ==========*/
header{
    margin-bottom: 25px;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto
}
/*========== NAVIGATION ==========*/
nav{
    background-color: rgb(76, 189, 176);
}

#profile{
    color: white;
    margin: 10px 0px 10px 0px;
    text-decoration: none;
}
#profile h2::after{
    content: url(../imgs/icons/main_page/menu.png);
    vertical-align: middle;
    margin-left: 7px;
}

#profile_menu{
    visibility: visible;
    color: rgb(76, 189, 176);
    text-transform: uppercase;
    position: absolute;
    list-style-type: none;
    background-color: white;
}

#profile_menu a:hover{
    color: rgb(0, 249, 155);
}

#profile h2:hover #profile_menu{
    visibility: visible;
}

.menu_item{
    margin: 5px 20px;
}

#logout{
    text-align: center;
    margin-top: 15px;
    border-top: 1px solid black;
    padding: 5px 0px;
}

.menu a{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin: 10px 0px 10px 0px;
        -webkit-transition: all 0.2s 0.02s ease;
        -o-transition: all 0.2s 0.02s ease;
        -moz-transition: all 0.2s 0.02s ease;
    
}

ul.list-inline{
    margin-bottom: 0px;
}

.menu a:hover{
    text-decoration: none;
    background: rgb(0, 249, 155);
    margin-left: 0px;
}

/*==================== MAIN SCREEN ====================*/
#main{
    background: url(../imgs/back_pics/theme_pic.jpg) no-repeat center center;
    background-size: cover;
}
.main_header span{
    color:white;
    font-size: 50px;
    background-color: rgba(76, 189, 176, 0.6);
    text-transform: uppercase;
    padding: 10px, 10px, 0px, 10px;
}
.main_header h1{
    margin-top: 100px;
}
.main_header h3{
    color:white;
    font-size: 30px;
    background-color: rgba(76, 189, 176, 0.6);
    margin-bottom: 50px;
}
.first_offer h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
.first_offer span{
    background-color: rgba(76, 189, 176, 0.6);
    color: white;
}
.first_offer{
    margin-right: 0px;
    padding-right: 0px;
}
#course_pack, #get_courses{
    border: 4px solid rgb(76, 189, 176);
    background-color: rgba(64, 162, 240, 0.5);
    padding: 15px 15px;
    margin-right: 10px;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
}
#get_courses:hover, #course_pack:hover{
    background-color: rgba(64, 162, 240, 0.9);
    margin-left: 0px;
}

/*=============== LANGUAGES ===============*/
.section_header{
    margin-bottom: 15px;
    text-transform: uppercase;
}
#languages{
    margin-top: 80px;
}
.card button{
    text-align: center;
    border: none;
    margin-bottom: 10px;
    width: 110px;
    height: 40px;
    padding: 5px;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid rgba(64, 162, 240, 0.5);
}
#get_more{
    margin-right: 10px;
    background-color: rgba(76, 189, 176, 0.6);
    color:white;
}
#get_more:hover{
    background-color: rgba(76, 189, 176, 0.9);
}
.card img{
    margin: 0px 5px 20px 5px;
}
.card h4{
    margin: 8px 0px 10px 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.card{
    margin-top: 10px;
    border-radius: 20px;
}
#python:hover{
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.4), rgba(255, 255, 0, 0.4));
}
#cpp:hover{
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.4), rgba(255, 255, 255, 0.4));
}
#html:hover{
    background: 
}
/*=============== JOB ===============*/
#carousel_jobs{
    margin-top: 40px;
}

.carousel-item img{
    height: 500px;
    margin: 0px auto;
}

.carousel-caption{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
/*========== CONTACTS ==========*/
footer{
    margin-top: 30px;
    background-color: rgb(76, 189, 176);
    padding-top: 10px;
    color: white;
    font-size: 15px;
}
.phone_num::before{
    content: url(../imgs/icons/main_page/phone.png);
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
.contacts{
    text-align: left
}
.bank_data{
    text-align: right;
}
footer a, a:hover{
    text-decoration: none;
    color:white;
    margin-left: 5px;
    font-weight: bold;
}